@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-50: 247, 250, 252;
    --gray-100: 237, 242, 247;
    --gray-200: 226, 232, 240;
    --gray-300: 203, 213, 224;
    --gray-400: 160, 174, 192;
    --gray-500: 113, 128, 150;
    --gray-600: 74, 85, 104;
    --gray-700: 45, 55, 72;
    --gray-800: 26, 32, 44;
    --gray-900: 23, 25, 35;

    --red-50: 255, 245, 245;
    --red-100: 254, 215, 215;
    --red-200: 254, 178, 178;
    --red-300: 252, 129, 129;
    --red-400: 245, 101, 101;
    --red-500: 229, 62, 62;
    --red-600: 197, 48, 48;
    --red-700: 155, 44, 44;
    --red-800: 130, 39, 39;
    --red-900: 99, 23, 27;

    --orange-50: 255, 250, 240;
    --orange-100: 254, 235, 200;
    --orange-200: 251, 211, 141;
    --orange-300: 246, 173, 85;
    --orange-400: 237, 137, 54;
    --orange-500: 221, 107, 32;
    --orange-600: 192, 86, 33;
    --orange-700: 156, 66, 33;
    --orange-800: 123, 52, 30;
    --orange-900: 101, 43, 25;

    --green-50: 240, 255, 244;
    --green-100: 198, 246, 213;
    --green-200: 154, 230, 180;
    --green-300: 104, 211, 145;
    --green-400: 72, 187, 120;
    --green-500: 56, 161, 105;
    --green-600: 47, 133, 90;
    --green-700: 39, 103, 73;
    --green-800: 34, 84, 61;
    --green-900: 28, 69, 50;
  }
}