@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --blue50: 237, 245, 255;
    --blue100: 225, 239, 255;
    --blue200: 206, 228, 254;
    --blue300: 183, 213, 248;
    --blue400: 150, 193, 242;
    --blue500: 94, 162, 239;
    --blue600: 0, 114, 245;
    --blue700: 0, 95, 204;
    --blue800: 0, 71, 153;
    --blue900: 0, 37, 77;

    --cyan50: 240, 252, 255;
    --cyan100: 230, 250, 254;
    --cyan200: 215, 248, 254;
    --cyan300: 195, 244, 253;
    --cyan400: 165, 238, 253;
    --cyan500: 126, 231, 252;
    --cyan600: 6, 183, 219;
    --cyan700: 9, 170, 205;
    --cyan800: 14, 138, 170;
    --cyan900: 5, 59, 72;

    --gray50: 241, 243, 245;
    --gray100: 236, 238, 240;
    --gray200: 230, 232, 235;
    --gray300: 223, 227, 230;
    --gray400: 215, 219, 223;
    --gray500: 193, 200, 205;
    --gray600: 136, 144, 150;
    --gray700: 126, 134, 140;
    --gray800: 104, 112, 118;
    --gray900: 17, 24, 28;

    --green50: 241, 253, 247;
    --green100: 232, 252, 241;
    --green200: 218, 251, 232;
    --green300: 200, 249, 221;
    --green400: 173, 245, 204;
    --green500: 136, 241, 182;
    --green600: 23, 201, 100;
    --green700: 19, 164, 82;
    --green800: 16, 137, 68;
    --green900: 6, 55, 27;


    --pink50: 255, 240, 251;
    --pink100: 255, 229, 248;
    --pink200: 255, 214, 243;
    --pink300: 255, 194, 238;
    --pink400: 255, 163, 229;
    --pink500: 255, 122, 217;
    --pink600: 255, 78, 205;
    --pink700: 214, 0, 154;
    --pink800: 184, 0, 132;
    --pink900: 77, 0, 55;

    --purple50: 247, 242, 253;
    --purple100: 241, 232, 251;
    --purple200: 234, 220, 248;
    --purple300: 224, 203, 245;
    --purple400: 209, 177, 240;
    --purple500: 188, 142, 233;
    --purple600: 120, 40, 200;
    --purple700: 102, 34, 170;
    --purple800: 77, 25, 128;
    --purple900: 41, 14, 68;

    --red50: 254, 240, 245;
    --red100: 254, 231, 239;
    --red200: 253, 216, 229;
    --red300: 252, 197, 216;
    --red400: 250, 168, 197;
    --red500: 248, 129, 171;
    --red600: 243, 18, 96;
    --red700: 184, 10, 71;
    --red800: 145, 8, 56;
    --red900: 78, 4, 30;

    --yellow50: 254, 249, 240;
    --yellow100: 254, 245, 231;
    --yellow200: 253, 239, 216;
    --yellow300: 252, 231, 197;
    --yellow400: 251, 219, 167;
    --yellow500: 249, 203, 128;
    --yellow600: 245, 165, 36;
    --yellow700: 185, 117, 9;
    --yellow800: 146, 93, 7;
    --yellow900: 78, 49, 4;
  }

  .dark {
    --blue50: 16, 37, 62;
    --blue100: 16, 44, 76;
    --blue200: 15, 49, 88;
    --blue300: 13, 56, 104;
    --blue400: 10, 66, 129;
    --blue500: 9, 82, 165;
    --blue600: 0, 114, 245;
    --blue700: 54, 148, 255;
    --blue800: 54, 148, 255;
    --blue900: 234, 244, 255;

    --cyan50: 1, 42, 50;
    --cyan100: 2, 58, 70;
    --cyan200: 2, 75, 90;
    --cyan300: 3, 96, 114;
    --cyan400: 3, 112, 134;
    --cyan500: 4, 142, 169;
    --cyan600: 6, 183, 219;
    --cyan700: 51, 217, 250;
    --cyan800: 111, 228, 251;
    --cyan900: 235, 251, 254;

    --gray50: 22, 24, 26;
    --gray100: 38, 41, 43;
    --gray200: 43, 47, 49;
    --gray300: 49, 53, 56;
    --gray400: 58, 63, 66;
    --gray500: 76, 81, 85;
    --gray600: 105, 113, 119;
    --gray700: 120, 135, 141;
    --gray800: 155, 161, 166;
    --gray900: 236, 237, 238;

    --green50: 4, 47, 20;
    --green100: 6, 56, 27;
    --green200: 7, 74, 36;
    --green300: 10, 97, 48;
    --green400: 11, 116, 57;
    --green500: 15, 149, 73;
    --green600: 23, 201, 100;
    --green700: 65, 236, 139;
    --green800: 120, 242, 173;
    --green900: 236, 253, 244;

    --pink50: 51, 0, 37;
    --pink100: 71, 0, 51;
    --pink200: 92, 0, 66;
    --pink300: 117, 0, 84;
    --pink400: 138, 0, 99;
    --pink500: 173, 0, 124;
    --pink600: 255, 78, 205;
    --pink700: 255, 46, 196;
    --pink800: 255, 107, 213;
    --pink900: 255, 235, 249;

    --purple50: 31, 10, 51;
    --purple100: 36, 12, 60;
    --purple200: 46, 15, 77;
    --purple300: 59, 19, 98;
    --purple400: 69, 23, 115;
    --purple500: 87, 29, 145;
    --purple600: 148, 84, 211;
    --purple700: 151, 80, 221;
    --purple800: 181, 131, 231;
    --purple900: 247, 236, 252;

    --red50: 48, 3, 19;
    --red100: 48, 3, 19;
    --red200: 68, 4, 26;
    --red300: 92, 5, 35;
    --red400: 111, 6, 43;
    --red500: 145, 8, 56;
    --red600: 243, 18, 96;
    --red700: 244, 37, 109;
    --red800: 247, 95, 148;
    --red900: 253, 216, 229;

    --yellow50: 58, 37, 3;
    --yellow100: 68, 43, 3;
    --yellow200: 88, 56, 4;
    --yellow300: 112, 71, 5;
    --yellow400: 132, 83, 6;
    --yellow500: 169, 105, 8;
    --yellow600: 245, 165, 36;
    --yellow700: 246, 173, 55;
    --yellow800: 248, 197, 114;
    --yellow900: 254, 247, 236;
  }
}

@layer utilities {
  .shadow-primary {
    box-shadow: 0 4px 14px 0 rgb(var(--blue500));
  }

  .shadow-secondary {
    box-shadow: 0 4px 14px 0 rgb(var(--purple500));
  }

  .shadow-error {
    box-shadow: 0 4px 14px 0 rgb(var(--red500));
  }

  .shadow-success {
    box-shadow: 0 4px 14px 0 rgb(var(--green500));
  }

  .shadow-warning {
    box-shadow: 0 4px 14px 0 rgb(var(--yellow500));
  }
}